{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}

{% block styles %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/popup.js' %}"></script>
{% endblock %}

{% block title %}
    Historique des ventes
{% endblock %}

{% block header %}
    Historique des ventes
{% endblock %}

{% block menu %}
    {% include 'shop/menu.html' %}
{% endblock%}

{% block main %}
    {% if history %}
        <div class="toolbar">
            <a href="{% url 'shop:history_export' %}"><i class="fa fa-download"></i></a>
        </div>
        {% include "shop/history_table.html" with admin=True %}
        <div class="pagination">
            {% if history.has_previous %}
                <a class="page" href="?page={{ history.previous_page_number }}"><i class="fa fa-chevron-left"></i></a>
            {% endif %}

            <span class="current page">
                Page {{ history.number }} of {{ history.paginator.num_pages }}.
            </span>

            {% if history.has_next %}
                <a class="page" href="?page={{ history.next_page_number }}"><i class="fa fa-chevron-right"></i></a>
            {% endif %}
        </div>
    {% else %}
        <p>
            il n'y a eu aucun produit vendu.
        </p>
    {% endif %}
{% endblock %}
