{% extends 'core/base.html' %}

{% load static %}
{% load menu_item %}

{% block styles %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/popup.js' %}"></script>
{% endblock %}

{% block title %}
    Historique de vos achats
{% endblock %}

{% block header %}
    Historique de vos achats
{% endblock %}

{% block menu %}
    {% include 'shop/menu.html' %}
{% endblock%}

{% block main %}
    {% if history %}
        {% include "shop/history_table.html" with admin=False %}
    {% else %}
        <p>
            Vous n'avez rien acheté.
        </p>
    {% endif %}

{% endblock %}
